H3 {
	margin: 5px;
	color: maroon;
	text-align: center;
	font-family: cursive;
}

DIV.container {
	display: flex;
	flex-direction: row;
	margin: 0px;
	padding: 0px;
}

DIV.leftcolumn {
	margin: 0px 7px 0px 5px;
	width: 600px;
}

/* TABLE - common */
TABLE {
	table-layout: fixed;
	font-family: sans-serif;
	background-color: #ffe6cc;
	border-radius: 5px;
	border-spacing: 0px;
}

/* TABLE - criteria */
TABLE.criteria {
	table-layout: fixed;
	width: 100%;
	border: 1px maroon dotted;
}

TABLE.criteria TD {
	padding: 2px 2px 5px 2px;
	text-align: left;
	color: maroon;
	font-weight: normal;
	font-size: large;
	font-family: monospace;
}

TABLE.criteria TD:first-child {
	padding-left: 5px;
}
TABLE.criteria TD:last-child {
	padding-right: 5px;
}

TABLE.criteria FIELDSET {
	border: 1px dashed maroon;
	border-radius: 5px;
	padding: 5px;
}

TABLE.criteria FIELDSET TD,
TABLE.criteria FIELDSET TD:first-child,
TABLE.criteria FIELDSET TD:last-child {
	padding: 1px;
}

TABLE.criteria INPUT[type='search'] {
	display: block;
	width: 100%;
	border: 1px maroon solid;
	border-radius: 3px;
	color: maroon;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: medium;
	font-family: sans-serif;
}

TABLE.criteria SELECT {
	border: 1px maroon solid;
	border-radius: 3px;
	height: 22px;
	width: 100%;
	padding: 1px;
	color: maroon;
	font-style: normal;
	font-weight: bold;
	font-size: medium;
	font-family: sans-serif;
}

TABLE.criteria SELECT OPTGROUP {
	color: #ffa346;
	font-weight: bold;
}

TABLE.criteria SELECT OPTGROUP OPTION {
	color: maroon;
	font-weight: bold;
}

TABLE.criteria INPUT[type='checkbox'],
TABLE.criteria INPUT[type='radio'] {
	width: 20px;
	height: 20px;
}

/* TABLE - deteils */
TABLE.details {
	margin: 10px 0px;
	width: 100%;
	height: auto;
	border: 1px maroon solid;
}

TABLE.details TD {
	padding: 1px 2px 2px 2px;
	text-align: center;
	vertical-align: top;
	color: maroon;
	font-weight: bold;
	font-size: medium; 
	font-family: sans-serif;
}

TABLE.details TD+TD {
	border-left: 1px #b33c00 solid;
}

TABLE.details TR+TR TD {
	border-top: 1px #b33c00 solid;
}

TABLE.details TD DIV:FIRST-OF-TYPE {
	min-height: 19px;
	text-align: left;
	color: #b33c00;
	font-weight: normal;
	font-size: large; 
	font-family: monospace;
}

TABLE.details TD DIV:NTH-OF-TYPE(2) {
	margin-top: 2px;
	min-height: 18px;
	font-weight: inherit;
	font-size: inherit;
	font-family: inherit;
}

TABLE.details TD DIV:LAST-CHILD {
	margin-bottom: 4px;
}

TABLE.details TD DIV SPAN {
	color: #b33c00;
	font-style: italic;
}

TABLE.details TD>SPAN {
	float: right;
	margin: 2px 0px;
	color: #b33c00;
	font-size: small;
	font-style: italic;
}

/* MAPA */
DIV.rightcolumn {
	margin: 0px 5px 0px 7px;
}

DIV.gmap {
	min-width: 300px;
	min-height: 300px;
	width: 750px;
	height: 750px;
	border: 1px maroon solid;
	border-radius: 5px;
	background-color: #ee9344;
	color: maroon;
	/* resize: both; */
	overflow: hidden;
}
