/* TRASA */
TABLE.route {
	width: 100%;
	max-width: 100%;
	margin: 5px 0px;
	border: none;
	border-collapse: separate;
	border-spacing: 0px 6px;
	background-color: white;
	table-layout: auto;
}

/* NAG£ÓWEK */
TABLE.route TH {
/*	width: 24px; 440px; 78px; 40px */
	color: maroon;
	font-size: 15px;
}

/* PRZYSTANEK */
TR.stop {
	cursor: grab;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #ee9344;
}

TR.stop:hover {
	box-shadow: 2px 2px 2px maroon;
}

TR.stop TD {
	/* width: 411px; */
	border-top: 1px solid #ee9344;
	border-bottom: 1px solid #ee9344;
	padding: 1px;
	background-color: #ffe6cc;
	vertical-align: top;
}
TR.stop:hover TD {
	border-top-color: maroon;
	border-bottom-color: maroon;
	background-color: #ffc184;
}

TR.stop TD:first-child {
	width: 24px;
/* 	height: 36px; */
	border-left: 1px solid #ee9344;
	border-radius: 5px 0px 0px 5px;
	padding: 0px 6px 0px 4px;
	color: #ee9344;
	text-align: right;
	font-family: sans-serif;
	font-size: xx-large;
}
TR.stop:hover TD:first-child {
	border-left-color: maroon;
	color: maroon;
}

TR.stop TD:nth-child(2) {
	width: 440px;
}

TR.stop TD:nth-child(3) {
	width: 82px;
	padding-right: 30px;
	text-align: right;
}

TR.stop TD:last-child {
	width: 36px;
	border-right: 1px solid #ee9344;
	border-radius: 0px 5px 5px 0px;
	text-align: right;
}
TR.stop:hover TD:last-child {
	border-right-color: maroon;
}

/* miejscowoœæ */
TR.stop SPAN {
	color: maroon;
	font-family: sans-serif;
	font-size: small;
	font-weight: bold;
	font-style: normal;
}
/* typ */
TR.stop SPAN.type {
	color: #b33c00;
	font-weight: normal;
	font-style: italic;
}
/* parent */
TR.stop SPAN.parent {
	color: #b33c00;
	font-weight: bold;
	font-style: italic;
}
/* przystanek */
TR.stop SPAN.depot {
	font-family: monospace;
	font-size: 14.6px;
	font-weight: normal;
}
/* dystans */
TR.stop SPAN.distance {
	color: #b33c00;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
}
TR.stop SPAN.totalDistance {
	font-family: monospace;
	font-size: 14.6px;
	font-weight: bold;
}

/* przycisk usuniêcia */
TR.stop SPAN.x {
	width: 33px;
	height: 33px;
	display: inline-block;
	border: dotted 1px #b33c00;
	border-radius: 5px;
	color: white;
	background-color: tomato;
	text-align: center;
	font-family: monospace;
	font-size: x-large;
	font-weight: bolder;
	cursor: pointer;
}
TR.stop SPAN.x:hover {
	border-style: solid;
	border-color: maroon;
	color: maroon;
	background-color: red;
}


/* PRZYSTANEK */
LI.stop {
	margin: 5px 0px;
	cursor: grab;
	list-style-type: none;
}
LI.stop:hover {
	border-style: solid;
	background-color: #ffc184;
}
/* nazwa */
LI.stop SPAN {
	font-family: sans-serif;
	font-size: small;
	font-weight: bold;
	font-style: normal;
}
/* typ */
LI.stop SPAN.type {
	color: #b33c00;
	font-weight: normal;
	font-style: italic;
}
/* parent */
LI.stop SPAN.parent {
	color: #b33c00;
	font-weight: bold;
	font-style: italic;
}
/* przystanek */
LI.stop SPAN.depot {
	font-family: monospace;
	font-size: medium;
	font-weight: normal;
}
/* liczba porz¹dkowa */
LI.stop SPAN.lp: {
	width: 36px;
	height: 36px;
	float: left;
	padding: 0px 6px 0px 4px;
	color: #ee9344;
	text-align: right;
	font-size: xx-large;
}
LI.stop:hover SPAN.lp {
	color: white;
}
/* przycisk dodania przystanku */
LI.stop SPAN.add {
	width: 34px;
	height: 34px;
	float: right;
	margin-right: 2px;
	border: dotted 1px blue;
	border-radius: 5px;
	color: white;
	background-color: skyblue;
	text-align: center;
	font-family: monospace;
	font-size: xx-large;
	font-weight: bolder;
	cursor: pointer;
}
LI.stop SPAN.add:hover {
	border-style: solid;
	border-color: darkblue;
	color: darkblue;
	background-color: royalblue;
}
/* przycisk usuniêcia */
LI.stop SPAN.x {
	width: 34px;
	height: 34px;
	float: right;
	border: dotted 1px #b33c00;
	border-radius: 5px;
	color: white;
	background-color: tomato;
	text-align: center;
	font-family: monospace;
	font-size: x-large;
	font-weight: bolder;
	cursor: pointer;
}
LI.stop SPAN.x:hover {
	border-style: solid;
	border-color: maroon;
	color: maroon;
	background-color: red;
}

/* INFO-WINDOW */
/* nazwa */
DIV.gm-style-iw SPAN.name {
	font-weight: bold;
}
/* typ */
DIV.gm-style-iw SPAN.type {
	font-style: italic;
}
/* parent */
DIV.gm-style-iw SPAN.parent {
	font-weight: bold;
	font-style: italic;
}
/* depot */
DIV.gm-style-iw SPAN.depot {
}
/* punkt centralny */
DIV.gm-style-iw SPAN.cp {
	font-style: italic;
}
